.primary-container {
  font-family: sans-serif;
  justify-content: center;
  height: 500px;
  margin: 80px auto;
  background-color: #f9f9f9;
  padding: 10px;
  width: 500px;
  text-align: center;
  border-radius: 17px;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
}

.field label {
  margin-bottom: 5px;
}

.field input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: larger;
  width: 70%;
  align-self: center;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.field label {
  text-align: center;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
  padding: 5px;
}

.field input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-items: center;
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
  width: 70%;
}

.field input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
  padding: 0%;
  margin: 0%;
  color: rgb(248, 98, 98);
  font-weight: bold;
}

.general-error-message{
  margin-top: 20px;
}