* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14 13 41);
  height: 100px;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
/* .customNavBar {
  border: 2px solid rgb(206, 28, 28);
  overflow: hidden;
} */
ul {
  display: flex;
}

ul li {
  align-items: center;
  text-align: center;
  list-style: none;
  /* margin-right: 70px; */
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.nav ul a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: gray;
  display: inline-block;
  transition: color 0.3s ease;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: transparent;
}

.site-name {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  color: white;
  margin-left: 35px;
  transition: color 0.3s ease;
}

.nav a:hover {
  transform: scale(1.2);
  color: #ffffff;
  text-decoration: none;
}

.nav a .site-name:hover {
  border-bottom: 3px solid rgb(245, 238, 238);
}

.nav li.active a {
  background: transparent;
  color: #ffffff;
}
